.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 2s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

body{
    font-family: 'Lato', sans-serif;
    background-color:honeydew;
}

.section{
    /* padding: 15px; */
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    padding-top: 25px;
}
.section ul{
    list-style-type: none;
    overflow: hidden;

}
.section li{
    float: left;
    margin-right: 50px;
    text-decoration: none;
}
.section li a{
    text-decoration: none;
    color: black;
}

.sec{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    /* padding-top: 15px; */
    margin-top: 0px;
}
.sec ul{
    list-style-type: none;
    overflow: hidden;
}
.sec li{
    float: right;
    margin-right: 50px;
    text-decoration: none;
}
.sec li a{
    text-decoration: none;
    color: black;
}

.hero{
    padding-top: 150px;
}
.sec2{
    font-size: 30px;
    
    display: flex;
    justify-content: center;
    
}
.sec2 li a{
    text-decoration: none;
    color: black;
}

.sec2 ul{
    list-style-type: none;
}

.sec2 li{
    float:left;
    margin: 50px;
    
    
}

.i{
    display: flex;
    justify-content: center;
    text-align: center;
}

.t1{
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgba(250, 232, 210, 0.89);
    display: flex;
    justify-content: center;
    margin: auto;
}

.innercont{
    background-color: aquamarine;
    margin: 2%;
    padding: 2%;
    
}

.headings{
    align-items: center;
    font-size: medium;
    padding: 5px;
}

.innertxt{
    align-items: center;
    font-size: small;
}

.txtinp{
    border: 1px solid #d0d0d0;
    border-radius: 0; 
    box-sizing: border-box;
    color: #222;
    font-size: 16px;
    letter-spacing: normal;
    margin: 0;
    padding: 14px 25px 14px 10px;
    width: 100%;
}

  